body {
    background-color: #333;
}

a {
    color: #f55;
}

.boxes > div > div {
	border-color: #888;
    background-color: #555;
}

.title {
	background-color: #5060b0;
	color: white;
}

.content {
	color: white;
}

input {
	background-color: #fff;
	transition: background-color 0.3s;
}

input:hover {
	background-color: #d0e0f0;
}

input:focus {
	background-color: #c0d0ff;
}

#calculateButton, #defaultButton, #readSaveButton {
	background-color: #555;
	border-color: white;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s;
	color: white;
}

#calculateButton:hover, #defaultButton:hover, #readSaveButton:hover {
	background-color: #5060b0;
	color: white;
}

#calculateButton:active, #defaultButton:active, #readSaveButton:active {
	border-color: #405070;
	background-color: #405070;
	color: white;
}

#showAdvanced {
	background-color: #555;
	color: white;
}

hr {
	background: black;
}