.container {
	padding: 0;
	max-width: 1200px;
	margin: auto;
	display: block;
}

.boxes {
	display: inline-block;
	width: 100%;
}

.boxes > div {
	float: left;
	overflow: hidden;
}

.boxes > div > div {
	border-style: solid;
	border-radius: 6px;
	border-width: 1px;
	box-sizing: border-box;
	margin: 6px;
}

.title {
	padding: 12px;
}

.content {
	padding: 12px;
}

@media (max-width: 630px) {

	.box-4, .box-6, .box-8, .box-12 {
		width: 100%;
	}

}

@media (min-width: 631px) {

	.box-4 {
		width: 33.3333333333%;
	}

	.box-6 {
		width: 50%;
	}

	.box-8 {
		width: 66.6666666666%;
	}

	.box-12 {
		width: 100%;
	}

}

input {
	border: none;
	padding: 5px;
	width: 66px;
	text-align: center;
	font-size: 12px;
}

.checkbox {
	width: 10px;
	margin: 4px 6px 8px 0;
}

#calculateButton, #defaultButton, #readSaveButton {
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	padding: 6px;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

#defaultButton {
	width: 165px;
	margin-top: 4px;
}

#showAdvanced {
	border: none;
	width: 100%;
}

#advancedSettings {
	margin-top: 10px;
	display: none;
}

.numberInput {
	padding: 2px;
}

.numberInput > p {
	display: inline-block;
	margin: 0;
	width: 100px;
}

.numberInput > input {
	
}

textarea {
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	resize: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

h1 {
	margin: 0;
	font-size: 18px;
	text-decoration: underline;
}

table {
	width: 100%;
}

thead {
	text-align: left;
}

th {
	border-bottom: 3px solid #ddd;
}

th, td {
	padding: 4px;
}

td {
	border-bottom: 1px solid #ddd;
}

//tr:nth-child(even) {
	background-color: #f2f2f2;
}
